<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="blue">
     <color rgba="0 0 1 1"/> <!-- Ajusta estos valores según tu preferencia -->
  </material>

  <joint name="laser_joint" type="fixed">
    <parent link="top_chassis_link"/>
    <child link="laser_frame"/>
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Hokuyo Laser -->
  <link name="laser_frame">
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>    
  </link>

  <!-- hokuyo -->
  <gazebo reference="laser_frame">
    <sensor name="laser" type="ray" >
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>  
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>12</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <argument> ~/out:=scan </argument>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frameName>laser_frame</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>

