<!-- localization.launch -->
<!--Este archivo se encarga de lanzar los nodos necesarios para la localización del duckiebot una vez esté listo el mapa  -->
<!--Para realizar estp se busca el mapa realizado anteiormente en la carpeta maps y se toman los datos entregados por el LIDAR al momento de localizarse en el tópico scan  -->
<!--Luego, se corre el nodo de amcl que usa como argumento el mapa y los datos del LIDAR para obtener la posición del robot  -->
<launch>
    <arg name="map_file"  default="$(find warthog_personalizado)/maps.yaml"/>
    <arg name="scan_topic" default="/scan" />
    
    <!-- static map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- amcl -->
    <node pkg="amcl" type="amcl" name="amcl" respawn="true" output="screen">
        <remap from="/scan" to="$(arg scan_topic)"/>
        <remap from="map" to="/map"/>
        <rosparam file="$(find db_bringup)/params/amcl.yaml" command="load"/>
    </node>

</launch>